[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-cors = "*"
yolo-core = {git = "https://github.com/VIGILANCE-IVA/yolo-core.git"}

[dev-packages]

[requires]
python_version = "3.7"
