[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yolo-core = {git = "https://github.com/VIGILANCE-IVA/yolo-core.git"}
core-utils = {git = "https://github.com/VIGILANCE-IVA/core-utils.git"}
aiohttp = "*"
aiohttp-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
